<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<body>

<section layout:fragment="conteudo">

<div class="page-header">
				<div class="container-fluid">
					<h1>Criar Chamado</h1>
				</div>
			</div>

			<div class="container-fluid">
			<fieldset ><legend style="font-size: 18px">Selecione<span th:if="${logon.tipo.idTipo != 0}"> a loja </span><span th:if="${chamado.loja != null}"> o Equipamento</span></legend></fieldset>
			   
			   <form style="padding-bottom: 30px" method="GET" th:action="@{/chamados/novo}" th:object="${chamado}" th:if="${logon.tipo.idTipo != 0}">
			                               

     			<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span><br />

   				</div>			       
			       
			        <div class="row">
                   
                        <div class="col-lg-6">
                            <div class="input-group">
                                 <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
                           <select th:field="*{loja}" id="select-chamado-loja" class="form-control">
	                               <option value="">Escolha a Loja</option>
	                               <option th:each="loja : ${lojas}"
	                                       th:value="${loja.id}"
	                                       th:text="${loja.nome}"    ></option>						    
						    
						    </select>
                                 <span class="input-group-btn">
                                       <button class="btn btn-danger" type="submit">Go!</button>
                                 </span>
                             </div><!-- /input-group -->
                         </div><!-- /.col-lg-6 -->
                   </div><!-- /.row -->
			  
			  <!-- </fieldset> -->
			   </form>
			   <form style="padding-bottom: 30px" method="GET" th:action="@{/chamados/novo}" th:object="${chamado}" th:if="${chamado.loja != null}">
     			     <div th:if="${logon.tipo.idTipo == 0}">
     			          <div  class="alert  alert-success"
				        	     th:if="${!#strings.isEmpty(mensagem)}">
					             <span th:text="${mensagem}"></span><br />

   				          </div>		
                    </div>
			       
			        <div class="row">
                   
                        <div class="col-lg-6">
                            <div class="input-group">
                                 <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
                           <select th:type="submit" th:field="*{equipamento}" id="select-chamado-loja" class="form-control">
	                               <option value="">Escolha o equipamento</option>
	                               <option th:each="equipamento : ${equipamentos}"
	                                       th:value="${equipamento.id}"
						                     th:text="|${equipamento.nome}-${equipamento.local}|" ></option>					    
						    
						    </select>
                                 <span class="input-group-btn">
                                       <button class="btn btn-danger" type="submit">Go!</button>
                                 </span>
                                 
                                 <input type="hidden" th:field="*{loja}" th:value="chamado.loja.id" >
                             </div><!-- /input-group -->
                         </div><!-- /.col-lg-6 -->
                   </div><!-- /.row -->
			  
			  <!-- </fieldset> -->
			   </form>			   
			

				<form  method="POST" class="form-vertical  js-form-loading" th:object="${chamado}" 
				th:action="@{/chamados/novo}" th:if="${logon.loja != null} ? ${chamado.equipamento != null}">
				
					<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<th:block th:each="erro : ${#fields.detailedErrors()} ">
						<i class="fa  fa-exclamation-circle"></i>
						<span th:text="${erro.message}"></span>
						<br />
					</th:block>
					</div>
     			<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span><br />

   				</div>
   		<fieldset ><legend style="font-size: 18px">Preencha os campos abaixo:</legend>
   		
           <div class="row">
                 <div class="col-sm-6">
					  <div class="form-group">
						   <label for="select-chamado-componente">Componente com defeito</label>
						   <select th:field="*{componente}" id="select-chamado-componente" class="form-control" >
	                               <option value="">Escolha o componente</option>
	                               <option th:each="componente : ${componentes}"
	                                       th:value="${componente.nome}"
	                                       th:text="${componente.nome}"    ></option>
	                       </select>				 
					 </div>
                 </div>
              </div>        		
   			<div class="form-group">
					<label for="textarea-chamado-descricao">Descrição</label>
					<textarea th:field="*{descricao}" id="textarea-chamado-descricao" maxlength="600" placeholder="Exemplo: Descreva o defeito do equipamento" rows="3"
					class="form-control"></textarea>
			</div>
   				
   				
   			<div class="row">
                 <div class="col-sm-6">
					  <div class="form-group">
						   <label for="select-chamado-prioridade">Prioridade</label>
						   <select th:field="*{prioridade}" id="select-chamado-prioridade" class="form-control" >
	                               <option value="">Escolha a Prioridade</option>
	                               <option th:each="prioridade : ${prioridades}"
	                                       th:value="${prioridade}"
	                                       th:text="${prioridade}"    ></option>
	                       </select>				 
					 </div>
                 </div>
                <div th:if="${logon.tipo.idTipo == 0}"> 
                    <div class="col-sm-6">
					     <div class="form-group">
						   <label for="input-chamado-loja">Loja</label>
						    <input  th:value="${logon.loja.nome}" id="input-chamado-loja" readonly="readonly" class="form-control">
						    
			           </div>
			        </div> 
                </div>
                <div th:if="${logon.tipo.idTipo != 0}"> 
                    <div class="col-sm-6">
					     <div class="form-group">
						   <label for="input-chamado-loja">Loja</label>
						    <input  th:value="${chamado.loja.nome}" id="input-chamado-loja" readonly="readonly" class="form-control">
						    
			           </div>
			        </div> 
                </div>                
                 
                    <div class="col-sm-6">
					     <div class="form-group">
						   <label for="input-chamado-loja">Equipamento</label>
						    <input  th:value="|${chamado.equipamento.nome}-${chamado.equipamento.local}|" id="input-chamado-loja" readonly="readonly" class="form-control">
						    
			           </div>
			        </div> 
                               
                 <div class="col-sm-6">
					  <div class="form-group">
						   <label for="input-chamado-usuario">Usuário</label>
						    <input   id="input-chamado-usuario" th:value="${logon.nome}" readonly="readonly" class="form-control"/>
					  </div>
                 </div>
                       
        
           </div>	     

                    <div>

						<input th:field="*{id}" type="hidden" />
					</div>
                    <div>

						<input th:field="*{usuario}" th:value="${chamado.usuario.id}" type="hidden" />
					</div>					
					
                    <div>

						<input th:field="*{equipamento}" th:value="${chamado.equipamento.id}" type="hidden" />
					</div>					
					<div th:if="${logon.tipo.idTipo == 0}">

						<input th:field="*{loja}" th:value="${chamado.loja.id}" type="hidden" />
					</div>
		           <div th:if="${logon.tipo.idTipo != 0}">

						<input th:field="*{loja}" th:value="${chamado.loja.id}" type="hidden" />
					</div>
            </fieldset>
					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Criar</button>
					</div>

				</form>
			</div>
</section>
</body>
</html>